.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../../assets/img/pizza.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 50vh;
}

img {
    width: 230px;
    height: 200px;
}

/* .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    cursor: pointer;
} */

.navbar {
    display: flex;
    
    justify-content: space-around;
    align-items: center;
    height: 50px;
    width: 40%;
}

a {
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px;
}

a:hover {
    color: #000;
    background-color: #fff;
    border-radius: 5px;
    opacity: 0.6;
    transition: 0.9s;
}