.banner {
    position:relative;
    width: 100%;
    height: 100vh;
    overflow:visible;
}

.video-background {
    position:absolute;
    top: 50%;
    left: 50%;
    height: 100%;
    width: 100%;
    max-width: 100%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    z-index:inherit;
    
}

.banner-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

.logo-img {
    width: 200px; /* Ajusta el tamaño de la imagen según sea necesario */
}

.navbar {
    display: flex;
    margin-top: 20px; /* Ajusta el espaciado superior según sea necesario */
    
}

.navbar a {
    color: white;
    text-decoration: none;
    margin-right: 20px; /* Ajusta el espaciado entre los elementos de la barra de navegación según sea necesario */
}

.navbar-cart {
    position: relative;
    margin-right: 1rem;
    color: #fff;
}

.navbar-cart-items {
    align-items: center;
    position: relative;
    left: 0.5px;
    top: -0.5rem;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    background-color: rgb(172, 14, 14);
    width: 20px;
    height: 20px;
}

.navbar-cart-items p {
    font-size: 10px;
    text-align: center;
}

i {
    font-size: 20px;
    cursor: pointer;
}


.cart {
    display: none;
}

.show {
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
    position: absolute;
    background-color: #fff;
    border-radius: 0.5rem;
    border: 1px solid #cc1414;
    right: 20px;
    top: 550px;
    min-width: 40%;
}

app-cart {
    display: flex;
    flex-direction: column;
    justify-content: center;
}