<div class="container">
    <div class="logo">
        <img src="../../assets/img/pngwing.com (1).png" alt="" srcset="" class="logo-img">
    </div>
    <div class="navbar">
        <a routerLink="/inicio" class="nav1">INICIO</a>
        <a routerLink="/menu" class="nav2">MENU</a>
        <a routerLink="/about" class="nav4">ACERCA DE</a>
        <div class="navbar-cart" (click)="onToggleCart()">
            <i class="fa-solid fa-cart-shopping"></i>
        </div>
    </div>
</div>
<div class="cart" [ngClass]="{show: viewCart}">
    <app-cart></app-cart>
</div>
