.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../../assets/img/pizza.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 50vh;
    position: static;
}

img {
    width: 230px;
    height: 200px;
}

/* .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    cursor: pointer;
} */

.navbar {
    display: flex;
    
    justify-content: space-around;
    align-items: center;
    height: 50px;
    width: 40%;
}

a {
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px;
}

a:hover {
    color: #000;
    background-color: #fff;
    border-radius: 5px;
    opacity: 0.6;
    transition: 0.9s;
}

.navbar-cart {
    position: relative;
    margin-right: 1rem;
    color: #fff;
}

.navbar-cart-items {
    align-items: center;
    position: relative;
    left: 0.5px;
    top: -0.5rem;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    background-color: rgb(172, 14, 14);
    width: 20px;
    height: 20px;
}

.navbar-cart-items p {
    font-size: 0.8rem;
    text-align: center;
}

i {
    font-size: 20px;
}

i:hover {
    font-size: 25px;
    color: #000;
    background-color: #fff;
    border-radius: 5px;
    opacity: 0.6;
    transition: 0.9s;
}

.cart {
    display: none;
}

.show {
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
    position: absolute;
    background-color: #fff;
    border-radius: 0.5rem;
    border: 1px solid #cc1414;
    right: 20px;
    top: 335px;
    min-width: 40%;
}

app-cart {
    display: flex;
    flex-direction: column;
    justify-content: center;
}