<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="footer.component.css"> <!-- Asegúrate de que el enlace al archivo CSS sea correcto -->
    <title>Mi Sitio Web</title>
</head>
<body>
    <div class="container">
        <div class="main-f">
            <nav class="nav footer">
                <a routerLink="/inicio" class="nav1">INICIO</a>
                <a routerLink="/menu" class="nav2">MENU</a>
                <a routerLink="/about" class="nav4">ACERCA DE</a>
            </nav>
            <div class="logo">
                <img src="../../assets/img/pngwing.com (1).png" alt="" srcset="">
            </div>
        </div>
        <div class="redes">
            <a href="#"><img src="../../assets/img/instagram.png" alt="" srcset="" class="logo1"></a>
            <a href="#"><img src="../../assets/img/facebook.png" alt="" srcset="" class="logo2"></a>
            <a href=""><img src="../../assets/img/whatsapp.png" alt="" srcset="" class="logo3"></a>
        </div>
    </div>
</body>
</html>
