<div class="container">
    <div class="main-f">
        <nav class="nav footer">
            <a href="" class="nav1">INICIO</a>
            <a href="" class="nav2">MENU</a>
            <a href="" class="nav3">PEDIDOS</a>
            <a href="" class="nav4">ACERCA DE</a>
        </nav>
        <div class="logo">
            <img src="../../assets/img/pngwing.com (1).png" alt="" srcset="">
        </div>
    </div>
    <div class="redes">
        <a href=""><img src="../../assets/img/insta.png" alt="" srcset="" class="logo1"></a>
        <a href=""><img src="../../assets/img/face.png" alt="" srcset="" class="logo2"></a>
        <a href=""><img src="../../assets/img/whatsapp.png" alt="" srcset="" class="logo3"></a>
    </div>
    <div class="title">
        <div class="copy">
            <h2 class="copy-title">charlys&copy;Copyright</h2>
        </div>
        <div class="mail">
            <h1 class="mail-1">charlys@gmail.com</h1>
        </div>
    </div>
</div>