/* Estilos para el Footer */
.container {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center; /* Alinea verticalmente el contenido */
    padding: 20px;
    position: relative; /* Agregar posición relativa para el logotipo */
}

.main-f {
    display: flex;
    align-items: center;
}

/* Estilos para la Barra de Navegación */
.nav {
    display: flex;
    margin-right: 20px;
}

.nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
    transition: color 0.3s;
}

.nav a:hover {
    color: #035618;
}

/* Estilos para el Logotipo */
.logo {
    display: flex;
    align-items: center;
    justify-content: center; /* Centrar horizontal y verticalmente */
    height: 100%;
    position: absolute; /* Posición absoluta para centrar el logotipo */
    left: 50%; /* Mover el logotipo al centro horizontal */
    transform: translateX(-50%); /* Centrar horizontalmente el logotipo */
}

.logo img {
    max-width: 100px;
    max-height: 100%;
}

/* Estilos para los Íconos de Redes Sociales */
.redes a {
    display: inline-block;
    margin: 0 10px;
}

.logo1, .logo2, .logo3 {
    max-width: 30px;
    filter: brightness(0) invert(1); 
    transition: filter 0.3s;
}

.logo1:hover, .logo2:hover, .logo3:hover {
    filter: brightness(1) invert(0);
}
