/* Estilo para el formulario */
form {
  width: 100%;
  max-width: 600px; /* Ancho máximo del formulario */
  margin: 0 auto;
  padding: 20px 100px; /* Añade más espacio a los lados para hacerlo más ancho */
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
/* Estilo para el encabezado */
.form-header {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

/* Estilo para las etiquetas */
.form-label {
  font-weight: bold;
}

/* Estilo para los campos de entrada */
.form-control {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Estilo para el desplegable */
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Estilo para el botón de registro */
.btn-register {
  background-color: #ff5733;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.btn-register:hover {
  background-color: #ff704d;
}