<div class="container">
    <h1>HACE TU PEDIDO ACA</h1>
<section class="formulario">
    <input class="info "type="text" id="datos" placeholder="Nombre Completo">
    <input class="info" type="text" id="datos" placeholder="Domicilio">
    <input class="info" type="text" id="datos" placeholder="Telefono">
    <label class="info" for="Sabor">Elegi los sabores</label>
    <select id="sabores" name="sabores">
    <option value="Pepperoni">Pepperoni</option>
    <option value="Cuatro quesos">Cuatro quesos</option>
    <option value="Napolitana">Napolitana</option>
    <option value="Especial">Especial</option>
    </select>
</section>
<input type="submit" id="enviar">
<div class="logos-bottom">
    <div class="logo-left">
        <a href="https://www.rappi.com.ar/">
            <img src="../../assets/img/rappi-logo.png" alt="Logo Left">
        </a>
    </div>
    <div class="logo-middle">
        <a href="https://www.pedidosya.com/">
            <img src="../../assets/img/pedidos-ya-l.png" alt="Logo Middle">
        </a>
    </div>
    <div class="logo-right">
        <a href=" https://wa.me/+5493462618253">
            <img src="../../assets/img/whatsapp.png" alt="Logo Right">
        </a>
    </div>
</div>
</div>
