<div class="main">
    <div class="title">
        <h1 class="title1">MENU</h1>
    </div>
    <div class="menu">
        <div class="card">
            <img src="../../assets/img/img2.png" alt="" class="img1">
            <div class="text">
                <h2>PIZZA DE HUEVO</h2>
                <h3>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptas beatae eius rerum!</h3>
            </div>
        </div>
        <div class="card">
            <img src="../../assets/img/img3.png" alt="" class="img1">
            <div class="text">
                <h2>PIZZA DE HUEVO</h2>
                <h3>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptas beatae eius rerum!</h3>
            </div>
        </div>
        <div class="card">
            <img src="../../assets/img/img4.png" alt="" class="img1">
            <div class="text">
                <h2>PIZZA DE HUEVO</h2>
                <h3>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptas beatae eius rerum!</h3>
            </div>
        </div>
        <div class="card">
            <img src="../../assets/img/img5.png" alt="" class="img1">
            <div class="text">
                <h2>PIZZA DE HUEVO</h2>
                <h3>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptas beatae eius rerum!</h3>
            </div>
        </div>
        <div class="card">
            <img src="../../assets/img/img6.png" alt="" class="img1">
            <div class="text">
                <h2>PIZZA DE HUEVO</h2>
                <h3>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptas beatae eius rerum!</h3>
            </div>
        </div>
        <div class="card">
            <a href=""><img src="../../assets/img/img2.png" alt="" class="img1"></a>
            <div class="text">
                <h2>PIZZA DE HUEVO</h2>
                <h3>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptas beatae eius rerum!</h3>
            </div>
        </div>
    </div>
   <div class="filtro">
    
    </div>
</div>
