<section class="custom-section">
  <div class="flex-container">
      <div class="text">
          <h2>Nuestra Historia</h2>
          <p>Desde nuestros inicios en 1985, en Lo De Charly hemos estado comprometidos con la creación de experiencias culinarias excepcionales que deleiten a los amantes de la pizza en Venado Tuerto. Hemos perfeccionado nuestras recetas a lo largo de los años, incorporando ingredientes frescos y de primera calidad para garantizar que cada bocado de nuestras pizzas sea una experiencia memorable.</p>
      </div>
      <div class="image">
          <img src="../../assets/img/foto_concepto_d.jpg" alt="Imagen de nuestra historia">
      </div>
  </div>
</section>

<section class="custom-section">
  <div class="flex-container">
      <div class="text">
          <h2>Nuestra Visión</h2>
          <p>Nuestra visión en Lo De Charly es ser reconocidos como la pizzería de referencia en la ciudad, proporcionando a nuestros clientes pizzas excepcionales con un servicio de primera clase. Buscamos constantemente innovar y mantener la autenticidad de nuestras recetas, estableciendo un estándar de excelencia en la industria de la pizza.</p>
      </div>
      <div class="image">
          <img src="../../assets/img/foton_pizzas.jpg" alt="Imagen de nuestra visión">
      </div>
  </div>
</section>

<section class="custom-section">
  <div class="flex-container">
      <div class="text">
          <h2>Nuestro Objetivo</h2>
          <p>En Lo De Charly, nuestro objetivo principal es satisfacer a nuestros clientes brindándoles una experiencia culinaria inolvidable. Nos esforzamos por ofrecer pizzas únicas, elaboradas con los mejores ingredientes, y mantener el legado de autenticidad y calidad que nos ha distinguido desde hace décadas.</p>
      </div>
      <div class="image">
          <img src="../../assets/img/pizza.jpg" alt="Imagen de nuestro objetivo">
      </div>
  </div>
</section>

