<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Tu Título</title>
  <link rel="stylesheet" type="text/css" href="inicio.component.css">
</head>
<body>
  <div class="container-1">
    <section class="hero">
      <h1>LAS MEJORES PIZZAS</h1>
    </section>
    <section>
      <div class="container">
        <div class="pizza-img">
          <img src="../../assets/img/pizza-fondo.jpg" alt="pizza">
        </div>
        <div class="description">
          <p>Picsa, pixa o pitsa, según quien lo pronuncie. Amamos que la coman de parados en el mostrador, o en la mesa con amigos. Con la mano o con cubiertos. Amamos que entren por el olorcito o porque vinieron después del cine. Que coman la fainá (o fáina, como prefieran) fría o caliente; arriba o abajo de la muzza. Que se la lleven para desayunar al día siguiente. Amamos que la pizza sea parte de nuestras vidas. Tanto la amamos, que desde 1942 estamos abiertos desde la mañana hasta la madrugada, porque no hay hora para comer una buena pizza. Una pizza hecha con amor, nuestra pizza.</p>
        </div>
      </div>
    </section>
    <section>
      <div class="rounded-box">
        <a class="button" href="../pedidos/">
          <img src="../../assets/img/sale-delivery.svg" alt="Sale Delivery">
        </a>
        <div class="button-container">
          <a class="round-button" href="https://www.pedidosya.com/" target="_blank">
            <img src="../../assets/img/ico-pedidosya.svg" alt="Logo de Pedidos Ya">
          </a>
          <a class="round-button" href="https://www.rappi.com.ar/" target="_blank">
            <img src="../../assets/img/ico-rappi.svg" alt="Rappi">
          </a>
        </div>
      </div>
      <div class="rounded-box">
        <a class="button" href="../menu/">
          <img src="../../assets/img/grafico-tentate.svg" alt="Tentate">
          <br>
          <img src="../../assets/img/btn_conocelas.svg" alt="Conocelas">
        </a>
      </div>
    </section>
  </div>
</body>
</html>

