/* Estilos generales */
h1 {
  font-family: 'EDU TAS Beginner', sans-serif;
  font-size: 36px;
  color: #8b2008;
}

p {
  font-family: 'EDU TAS Beginner', sans-serif;
  font-size: 18px;
  color: #fff;
  font-size: 28px;
}

.container-1 {
  background-color: #000;
}

header {
  background-color: #035618;
  text-align: center;
  padding: 20px;
}

section {
  padding: 40px;
}

.container {
  display: flex;
}

.pizza-img {
  flex: 1;
  background: url('../../assets/img/pizza-fondo.jpg') center/cover no-repeat;
  padding: 0;
}

.pizza-img img {
  display: none;
}

.description {
  flex: 1;
  color: #fff;
  font-size: 40px;
  overflow: hidden;
  padding: 20px;
  text-align: justify;
}

.rounded-box {
  background-color: #046120;
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  margin-top: 20px;
}

.button:last-child {
  margin-left: 10px;
}

/* Estilos específicos */
header h1 {
  margin: 0;
  font-size: 36px;
  color: #8b2008;
}

.description p {
  font-size: 18px;
  color: #fff;
  font-size: 28px;
}

.rounded-box h2 {
  font-size: 24px;
  color: #fff;
}

.button {
  font-size: 16px;
}

.round-button {
  display: inline-block;
  padding: 0;
  border-radius: 50%;
  overflow: hidden;
  width: 40px;
  height: 40px;
  margin: 5px;
}

.round-button img {
  max-width: 100%;
  max-height: 100%;
}

.button-container {
  display: flex;
  justify-content: center;
}

/* Estilos para el hero */
.hero {
  background-image: url('../../assets/img/big0000.jpg');
  background-size: cover;
  background-position: center;
  color: #fff;
  text-align: center;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Estilo del título en el hero */
.hero h1 {
  font-family: 'EDU TAS Beginner', sans-serif;
  font-size: 36px;
  color: #f8f8f8;
  margin: 0;
}

/* Estilo del párrafo en el hero */
.hero p {
  font-family: 'EDU TAS Beginner', sans-serif;
  font-size: 18px;
  color: #fff;
  font-size: 28px;
  margin: 20px;
}

/* Estilo para el gráfico "Tentate" y "Sale Delivery" */
.rounded-box a.button {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.rounded-box a.button img {
  max-width: 100%;
  max-height: auto;
}
